
# Datenanalyse & Manipulation
polars>=1.0.0
# NumPy auf < 2.0 begrenzen, um Kompatibilität mit numba/ydata-profiling zu garantieren
numpy>=1.23.5,<2.0.0
pandas
pandera

# Visualisierung
matplotlib
seaborn
plotly
ydata_profiling

# Machine Learning
scikit-learn
shap
xgboost
lightgbm
optuna 

# Jupyter Notebook Support
ipykernel
notebook
pyarrow

# Utilities & Scraping
tqdm
python-dotenv
selenium